@import url(http://fonts.googleapis.com/earlyaccess/hanna.css);
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');


h1 {
    font-family: 'Noto Sans KR', sans-serif; 
}

h2{
    font-family: 'Noto Sans KR', sans-serif;   
}

h3{
    font-family: 'Noto Sans KR', sans-serif;   
}

h5{
    font-family: 'Noto Sans KR', sans-serif;   
}

p{
    font-family: 'Noto Sans KR', sans-serif;   
}

h2::after{
    background-color: black;   
}


.btn-primary{
    border: 1px solid #424242;
    background-color: #424242;
}

.btn-primary:hover{
    border: 1px solid #1C1C1C;
    background-color: #1C1C1C;
}

.btn-default{
    border: 1px solid #1C1C1C;
}

.btn-default:hover{
    border: 1px solid #1C1C1C;
    background-color: #1C1C1C;
}

.btn.btn-primary.btn-lg.anchor-link:hover{
    border: 1px solid #ffffff;
    background-color: #2E2E2E;
}

